* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3efe9;
  font-family: Garamond, "Times New Roman", serif;
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
  letter-spacing: 3px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.img-box {
  aspect-ratio: 3 / 4;
  overflow: hidden;
  position: relative;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.img-box:nth-child(1) img { animation-name: fade; }
.img-box:nth-child(2) img { animation-name: slowZoom; }
