     @font-face {
    font-family: Melange-small;
    src: url("KMRMelangeGrotesk-Book.woff") format("woff");
  }

  @font-face {
    font-family: Melange-big;
    src: url("KMRMelangeGrotesk-Black.woff") format("woff");
  }


body {
    background-color: #c0c0c0;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 8vw;
}

.card {
  font-family: Melange-small;
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.card__title {
  font-family: Melange-big;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}


.card__excerpt {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}


.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__more {
  margin-top: auto;
  align-self: flex-start;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
  padding-bottom: 0.2rem;
}

.card__more:hover {
  color: #848484;
}

.card__more:active {
  color: #000;
  opacity: 0.6;
}


@media screen and (min-width: 1024px) {
  .cards {
    flex-direction: row;
  }

  .card {
    width: 33.333%;
  }

  .card__title {
    font-size: 2.2rem;
  }

  .card__excerpt {
    font-size: 1rem;
  }
}
